<div >
    <div class="flex justify-center text-4xl text-black"><p> Works</p></div>


    <div class="flex justify-center xl:justify-start">
    
        <a class="  block max-w-lg p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
    
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">About.</h5>
            <p class="font-normal text-gray-700 dark:text-gray-400">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
        </a>    
    </div>
    
    
    <div class="  mt-20   flex flex-col    xl:flex-row  md:justify-between  ">
        <div class="max-w-sm  self-center p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
    
            <h5 class="mb-2 text-2xl font-semibold tracking-tight text-gray-900 dark:text-white">Need a help in Claim?</h5>
        
            <p class="mb-3 font-normal text-gray-500 dark:text-gray-400">Go to this step by step guideline process on how to certify for your weekly benefits:</p>
        
        </div>
       <div class=" mt-24 self-center xl:mt-0 ">
        <h5 class="   mb-2 text-2xl font-semibold tracking-tight text-gray-900 dark:text-white">Need a help in Claim?</h5>
    
       </div>
    
    
    </div>
        
</div>